@mixin baseContainer($padding, $margin, $border) {
    box-sizing: border-box;
    padding: $padding;
    margin: $margin;
    border: $border;
}

@mixin textContainer($weight, $size, $color) {
    font-weight: $weight;
    font-size: $size;
    color: $color;
}

@mixin firstBreakpoint {
    @media screen and (max-width: 57rem) {@content};
}

@mixin secondBreakpoint {
    @media screen and (max-width: 49rem) {@content};
}

@mixin thirdBreakpoint {
    @media screen and (max-width: 42rem) {@content};
}